{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in carts %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{i.product.product_image.url}}"
                                                style="width: 50px; height: 50px; border-radius: 50%;" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{i.product.product_name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.product.product_price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <form action="{% url 'change-qty' %}" method="post" name="change-qty">
                                            {% csrf_token %}
                                            <input type="hidden" name="cid" value="{{i.pk}}">
                                            <input type="number" name="product_qty" value="{{i.product_qty}}" min="1"
                                                max="10" onchange="this.form.submit()">
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.total_price}}</h5>
                                </td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>{{net_price}}</h5>
                                </td>
                            </tr>

                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                                            <button class="primary-btn" type="button" id="checkout-button">Proceed
                                                Checkout</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
<script type="text/javascript">

var stripe = Stripe('pk_test_51SfdzC0cnW3BpByzi66hhCLL3jlwU7VM9St7ot2eq0QAjCOSB0DE7i7iSm2ctQhPfPLumJVhNw8NdPD5IFUgcWSU00SuVT1MUF');
var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() { 
 fetch('/create-checkout-session/', {
 method: 'POST',
    headers:{
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

    },
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
</script>


</body>

</html>
{% endblock %}