{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

</head>

<body>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Seller Product Edit</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Seller Product Edit</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap_bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 mt-5">
                    {% if msg %}
                    <b style="color: blue;">{{msg}}</b>
                    {% endif %}
                    <form class="row contact_form" action="{% url 'seller-product-edit' pk=product.pk %}" method="post"
                        id="contactForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group mb-5">
                                <select class="form-control" name="product_category" id="name" type="text">
                                    {% if product.product_category == "Men" %}
                                    <option>---Select Product Category---</option>
                                    <option value="Men" selected>Men</option>
                                    <option value="Women">Women</option>
                                    <option value="Kids">Kids</option>
                                    {% elif product.product_category == "Women" %}
                                    <option>---Select Product Category---</option>
                                    <option value="Men">Men</option>
                                    <option value="Women" selected>Women</option>
                                    <option value="Kids">Kids</option>
                                    {% elif product.product_category == "Kids" %}
                                    <option>---Select Product Category---</option>
                                    <option value="Men">Men</option>
                                    <option value="Women">Women</option>
                                    <option value="Kids" selected>Kids</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="product_name"
                                    value="{{product.product_name}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="product_price"
                                    value="{{product.product_price}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="product_desc" id="message"
                                    rows="1">{{product.product_desc}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <img src="{{product.product_image.url}}"
                                    style="width: 100px; height: 100px; border-radius: 50%;" alt="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" class="form-control" id="name" name="product_image">
                            </div>
                        </div>
                        <div class="col-md-12 text-left">
                            <button type="submit" value="submit" class="primary-btn">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->


    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->

</body>

</html>
{% endblock %}