
{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

</head>

<body>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Seller Product Details</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'view-product' %}">View Product<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Product-details</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="single-prd-item">
                        <img class="img-fluid mb-5" src="{{product.product_image.url}}" style="width: 400px; height: 500px;" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{product.product_name}}</h3>
                        <h2>{{product.product_price}}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> : {{product.product_category}}</a></li>
                            
                        </ul>
                        <p>{{product.product_desc}}</p>
                        <div class="card_area d-flex align-items-center mb-5">
                            <a class="primary-btn" href="{% url 'seller-product-edit' pk=product.pk %}">Edit</a>
                            <a class="primary-btn" href="{% url 'seller-product-delete' pk=product.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->


</body>

</html>
{% endblock %}
